<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="flikart" parallel="tests">
<listeners>
<listener class-name="com.flipkart.businessscripts.TestListener" />
<listener class-name="com.flipkart.businessscripts.RetryListenerClass" />
</listeners>
    <test name="ChromeBrowserTesting">
    <groups>
       <run>
         <include name="regression"></include>
       </run>    
    </groups>
       <classes>
       <class name="com.flipkart.businessscripts.Electronics"></class>
       <class name="com.flipkart.businessscripts.Men"></class>
       </classes>    
    </test>
    
    <test name="FiefoxBrowserTesting">
    <parameter name="browsername" value="firefox"></parameter>
    <parameter name="appurl" value="https://www.flipkart.com/"></parameter>
    <groups>
       <run>
         <include name="regression"></include>
       </run>    
    </groups>
       <classes>
       <class name="com.flipkart.businessscripts.Electronics"></class>
       <class name="com.flipkart.businessscripts.Men"></class>
       </classes>    
    </test>
    
    
 
</suite>
