<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="flikart">

    <test name="ChromeBrowserTesting">
    <parameter name="browsername" value="chrome"></parameter>
    <parameter name="appurl" value="https://www.flipkart.com/"></parameter>
    <groups>
       <run>
         <include name="regression"></include>
       </run>    
    </groups>
       <classes>
       <class name="com.flipkart.businessscripts.Electronics"></class>
       <class name="com.flipkart.businessscripts.Men"></class>
       </classes>    
    </test>    
 
</suite>
